<%= partial "partials/head" %>
    
    <article id="main" role="main">
      <h1><%= data.page.title %></h1>
      <%= yield %>
    </article>
    
    <aside>
      <h2>Recent Articles</h2>
      <ol class="articles-recent">
        <% blog.articles[0...10].each do |article| %>
          <li><%= link_to article.title, article %></li>
        <% end %>
      </ol>

      <h2>By Year</h2>
      <ol class="articles-cal">
        <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
          <li><%= link_to year, blog_year_path(year) %> <span class="count"><%= articles.size %></span></a></li>
        <% end %>
      </ol>
    </aside>
  </body>
</html>
