---
export interface Props {
	title: string;
	description: string;
	permalink: string;
}

function rollTitle(t) {
  t = t.replaceAll('[', '');
  t = t.replaceAll(']', '');
  return t;
}

const { title, description, permalink } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="disable-adaptations" content="watch">
<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<!-- Primary Meta Tags -->
<title>{rollTitle(title)}</title>
<meta name="title" content={rollTitle(title)} />
<meta name="description" content={description} />

<!-- iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="apple-touch-icon-precomposed" sizes="512x512" href="/icon.png" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={rollTitle(title)} />
<meta property="og:description" content={description} />
<meta property="og:image" content="/social.jpg" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={permalink} />
<meta property="twitter:title" content={rollTitle(title)} />
<meta property="twitter:description" content={description} />
<meta property="og:image" content="/social.jpg" />

<!-- Styles -->
<style is:global>
	@import "../styles/style.css";
</style>

<script is:inline src="/typetura.js"></script>