---
import photos from '../data/photos.json'

let rolls = photos.rolls;

function titleTransform(t) {
  t = t.replaceAll('[', '<strong>');
  t = t.replaceAll(']', '</strong>');
  return t;
}
---

<script>
function filmScroll() {
  this.style.setProperty('--scroll', this.scrollLeft);
  this.style.setProperty('--rate', screen.width / this.offsetWidth);
}
</script>

{rolls.map((roll) => (
  <article class="filmstrip" style="color: ${roll.color}" onscroll="this.style.setProperty('--scroll', this.scrollLeft)">
    <div class="meta">
      <span class="date">{roll.date}</span>
      <span class="date">{roll.location}</span>
      <span class="camera">{roll.camera}</span>
      <span class="lens">{roll.lens}</span>
      <span class="stock">{roll.stock}</span>
      <svg width="143" height="30" viewBox="0 0 143 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M142.929 15L120.63 27.8744L120.63 2.12548L142.929 15Z" fill="currentcolor"/>
        <path d="M105.197 15L82.8975 27.8744L82.8975 2.12548L105.197 15Z" fill="currentcolor"/>
        <path d="M67.4648 15L45.1656 27.8744L45.1656 2.12548L67.4648 15Z" fill="currentcolor"/>
        <path d="M29.7324 15L7.43317 27.8744L7.43317 2.12548L29.7324 15Z" fill="currentcolor"/>
      </svg>
    </div>
    <h1>{titleTransform(roll.title)}</h1>
    {roll.photos.map((photo) => (
      <img src="/photos/${photo.src}" alt={photo.alt}>
    ))}
  </article>
))}

<style global>
.filmstrip {
  position: relative;
  color: #1AE8DB;
  inline-size: 100%;
  white-space: nowrap;
  overflow: auto;
  overflow-y: hidden;
  margin-block: 4rem;
  scrollbar-width: thin;
  scrollbar-height: thin;
  scrollbar-color: currentcolor transparent;
}
.filmstrip::-webkit-scrollbar {
  inline-size: 0.333rem;
  block-size: 0.333rem;
  background-color: transparent;
}
.filmstrip::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: currentColor;
}

.filmstrip img {
  block-size: min(36rem, 80vh);
  inline-size: auto;
  display: inline-block;
  margin-inline-end: 3rem;
  margin-block-start: 0.815rem;
}
.filmstrip h1 {
  max-block-size: min(36rem, 80vh);
  inline-size: min-content;
  display: inline-block;
  font-family: var(--font-display);
  font-weight: 200;
  font-size: min(5rem, 16vh);
  line-height: 1;
  mix-blend-mode: screen;
  white-space: initial;
  position: relative;
  margin-block: 0;
  margin-inline-start: 2rem;
  margin-inline-end: -0.5ch;
  animation: 1s var(--tt-ease, linear) calc(-1s * var(--tt-bind, 500) / var(--tt-max, 1000)) 1 both paused var(--tt-key, none);
  --tt-key: filmstrip-h1;
  --tt-max: 1600;
  --tt-ease: cubic-bezier(0.1,0.4,0.7,1);
}
@keyframes filmstrip-h1 {
  0% {
    font-size: 1rem;
  }
}
.filmstrip h1 strong {
  font-weight: 700;
}
.filmstrip .meta {
  position: absolute;
  mix-blend-mode: screen;
  display: flex;
  gap: 2rem;
  margin-inline-start: 2rem;
  transform: translateX(calc((var(--scroll, 0) * -0.15px)));
}
.filmstrip svg {
  min-width: 8rem;
}
</style>